CORPUS/CD_FINAL_PRODUCT/cd.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- ep.dtd: EC Parliament sessions. $Revision: 1.6 $ -->
<!-- This dtd is a revision of the ep.dtd 1.6. The main goal is to obtain a dtd to review the EP xml corpus, during comparation and manual fixing before alignment with TCA2 -->
<!ELEMENT ecpc_CD (header,body,back*)>
<!-- Add other new languages, since ECPC will gather debates belonging to sessions held after Romanian, Bulgarian, Gaelic and other new languages were incorporated -->
<!ELEMENT header (legislature,title,label,date,place,edition,index)>
<!ATTLIST header filename CDATA #REQUIRED>
<!ATTLIST header language (CS|DA|DE|EL|EN|ES|ET|FI|FR|HU|IT|LT|LV|MT|NL|PL|PT|SK|SL|SV) #REQUIRED>
<!-- TO BE DONE Add the following item with a regex or script in all files -->
<!ELEMENT legislature (#PCDATA)>
<!ATTLIST legislature begin CDATA #REQUIRED>
<!ATTLIST legislature end CDATA #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!-- TO BE DONE (macro?) Date always normalized YYYYMMDD -->
<!ELEMENT date (#PCDATA)>
<!ELEMENT place (#PCDATA)>
<!ELEMENT edition (#PCDATA)>
<!-- indexitem tags different items within the index. These will be repeated later on throughout the text as header to separate different items in the session -->
<!ELEMENT index (indextitle?|indexitem+|page_number)*>
<!ELEMENT indextitle (#PCDATA)>
<!ELEMENT indexitem (#PCDATA|page_number)*>
<!ATTLIST indexitem number CDATA #IMPLIED>
<!-- Chair tags the person presiding the session over; intervention contains information about speakers plus speeches; headings are the indexitems which now separate parts of the session -->
<!ELEMENT page_number (#PCDATA) >
<!ELEMENT body (chair)+>
<!ELEMENT chair (intervention|heading|omit|page_number)*>
<!ATTLIST chair who CDATA #REQUIRED >
<!-- <!ELEMENT intervention (speaker|speech|writer|writing|omit|italics)*> -->
<!ELEMENT intervention ((speaker|writer)+,(speech|writing)+)>
<!-- TO BE DONE, change attribute ref by attribute id -->
<!ATTLIST intervention id ID #REQUIRED>
<!-- should ID/ref attributes be unique for the whole corpus or it might be enough if they are unique within their text?  System for all the corpus FILENAME-id example -->
<!-- Todos los elementos aparecerán siempre pero cuando no sepamos el nombre pondremos UNKNONW; constituency sería NA; affiliation sería NA normalmente salvo excepciones muy raras; post sería NA porque en ese momento no ejerce ningún cargo-->
<!ELEMENT speaker (name,birth_date,birth_place,status,gender,institution,constituency,affiliation,post)>
<!-- name should eventually apperar without a question mark, once we solve problems with chair -->
<!-- TO BE DONE para president de momento añadir <name>UNKNOWN</name> después rellenar con Chair -->
<!ELEMENT name (#PCDATA)>
<!-- SCRIPT -->
<!ELEMENT birth_date (#PCDATA)>
<!-- birth place means the city/town of birth, it has an attribute for country -->
<!-- SCRIPT -->
<!ELEMENT birth_place (#PCDATA)>
<!-- Birthplace, si no lo sabemos UNKNOWN -->
<!ATTLIST birth_place country (AD|AE|AF|AG|AI|AL|AM|AN|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CP|CR|CU|CV|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|EL|ER|ES|ET|FI|FJ|FK|FM|FO|FR|MK|GA|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|ST|SV|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UK|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|YE|YT|ZA|ZM|ZW|UNKNOWN) #REQUIRED>
<!-- EP institutions might be eu, ni, io, ngo, vip -->
<!-- HC a study should be made, we might use the same as for the EP with a difference, we might mantain eu but without its children, and we need to mantain ni and create new children -as body was for eu- (hc, hl, government, court of appeals, Queen...) even a new category/element should be included ri (regional institution) -->
<!-- CD a study should be made, we might use the same as for the EP with a difference, we might mantain eu but without its children, and we need to mantain ni and create new children -as body was for eu- (cd, senado, gobierno, banco de españa, Rey...) even a new category/element should be included ri (regional institution) -->
<!-- SCRIPT -->
<!ELEMENT status (#PCDATA)>
<!-- SCRIPT -->
<!ELEMENT gender (#PCDATA)>
<!-- SCRIPT -->
<!ELEMENT institution (ni|io|ngo|vip) >
<!-- BODY Might it be improved since we have already an element called body? Not important now, it can be used anyways. The list of bodies might need to be extended as we extend the corpus because more bodies might be represented throughout a whole legislature -->
<!ELEMENT ni (#PCDATA) >
<!-- En el caso del CD sería: <ni country="Spain">CD</ni> o <ni country="Spain">NON-CD</ni> Posteriormente se pueden estudiar las otras instituciones -->
<!-- En el caso del HC sería: <ni country="UK">HC</ni> o <ni country="UK">NON-HC</ni> Posteriormente se pueden estudiar las otras instituciones -->
<!-- En el caso de países de los cuales no estudiamos su parlamento el contenido para este elemento podría ser NON-ECPC -->
<!ATTLIST ni country (AD|AE|AF|AG|AI|AL|AM|AN|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CP|CR|CU|CV|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|EL|ER|ES|ET|FI|FJ|FK|FM|FO|FR|MK|GA|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|ST|SV|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UK|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|YE|YT|ZA|ZM|ZW|UNKNOWN) #REQUIRED >
<!ELEMENT io (eu|non-eu) >
<!ELEMENT eu EMPTY>
<!ATTLIST eu body (EP|Commission|Council|ECB|EIB|Ombudsman|HRFASP|CA) #REQUIRED >
<!ELEMENT non-eu (#PCDATA) >
<!-- NGO is any non governamental group of people with a common goal . El atributo country no es obligatorio, qué pasa sin la ong es internacional, valor international para el atributo country, no ponerlo, desechar el atributo o formalizar de otra manera? -->
<!ELEMENT ngo (#PCDATA) >
<!ATTLIST ngo country (AD|AE|AF|AG|AI|AL|AM|AN|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CP|CR|CU|CV|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|EL|ER|ES|ET|FI|FJ|FK|FM|FO|FR|MK|GA|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|ST|SV|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UK|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|YE|YT|ZA|ZM|ZW|UNKNOWN) #IMPLIED >
<!-- Habíamos definido vip como PCDATA pero en realidad puede ser un elemento vacío -->
<!ELEMENT vip EMPTY>
<!-- Cuando se dé el caso de que tengamos una persona que no pertenece al parlamento no tendrá constituency, por tanto su country y region serán NA. Cuando se dé el caso de que una persona sí sea del parlamento, pero no sepamos o el country o el region entonces en ese caso pondremos UNKNOWN -->
<!ELEMENT constituency EMPTY>
<!-- CONSTITUENCY COUNTRY as it was in the very beginning, country meant the country of the person even if he/she didn't belong to the  House, as it is now it is the country which the MP represents, therefore, this element should be required for all MPs, but not for other people. But country is need for ni. And ngo? And what about the special case of Commission, Council... because it is important, how shall we express country for commissioners? In affiliation, because although not elected directly by citizens for a particular role in the EU institutions they represent their country or cover a quote of power for their country -->
<!ATTLIST constituency country (AD|AE|AF|AG|AI|AL|AM|AN|AO|AQ|AR|AS|AT|AU|AW|AX|AZ|BA|BB|BD|BE|BF|BG|BH|BI|BJ|BL|BM|BN|BO|BR|BS|BT|BV|BW|BY|BZ|CA|CC|CD|CF|CG|CH|CI|CK|CL|CM|CN|CO|CP|CR|CU|CV|CX|CY|CZ|DE|DJ|DK|DM|DO|DZ|EC|EE|EG|EH|EL|ER|ES|ET|FI|FJ|FK|FM|FO|FR|MK|GA|GD|GE|GF|GG|GH|GI|GL|GM|GN|GP|GQ|GS|GT|GU|GW|GY|HK|HM|HN|HR|HT|HU|ID|IE|IL|IM|IN|IO|IQ|IR|IS|IT|JE|JM|JO|JP|KE|KG|KH|KI|KM|KN|KP|KR|KW|KY|KZ|LA|LB|LC|LI|LK|LR|LS|LT|LU|LV|LY|MA|MC|MD|ME|MF|MG|MH|ML|MM|MN|MO|MP|MQ|MR|MS|MT|MU|MV|MW|MX|MY|MZ|NA|NC|NE|NF|NG|NI|NL|NO|NP|NR|NU|NZ|OM|PA|PE|PF|PG|PH|PK|PL|PM|PN|PR|PS|PT|PW|PY|QA|RE|RO|RS|RU|RW|SA|SB|SC|SD|SE|SG|SH|SI|SJ|SK|SL|SM|SN|SO|SR|ST|SV|SY|SZ|TC|TD|TF|TG|TH|TJ|TK|TL|TM|TN|TO|TR|TT|TV|TW|TZ|UA|UG|UK|UM|US|UY|UZ|VA|VC|VE|VG|VI|VN|VU|WF|WS|YE|YT|ZA|ZM|ZW|UNKNOWN|NOT_APPLICABLE) #REQUIRED>
<!-- CONSTITUENCY REGION means any administrative demarcation below country. country #REQUIRED for all corpora, region #IMPLIED for EP and #REQUIRED for CD and HC -->
<!ATTLIST constituency region CDATA #REQUIRED>
<!ELEMENT affiliation (national_party,cd) >
<!ELEMENT cd EMPTY>
<!ATTLIST cd group (GC-CIU|GCC-NC|GER-ERC|GIU-ICV|GMX|GP|GS|GV-EAJ-PNV|UNKNOWN|NA) #REQUIRED >
<!ELEMENT national_party (#PCDATA) >
<!-- Siempre aparecerá la etiqueta post pero cuando no aparezca el cargo en el las actas pondremos NA -->
<!-- En versiones futuras convendrá estudiar los distintos tipos de cargos de cada parlamento y desarrollar unos atributos que permitan describirlos, homogeneizarlos y cruzarlos -->
<!ELEMENT post (#PCDATA)>
<!ELEMENT speech (#PCDATA|omit|italics|page_number)*>
<!-- <!ELEMENT speech (p|omit)+> -->
<!-- SPEECH LANGUAGE in EP should include all official languages plus UNKNOWN, in CD all official languages in the state (Spanish, Catalan, Basque, Galician, Valencian...) and in the HC all official languages (English, Welsh, Gaelic? -->
<!ATTLIST speech language (CS|DA|DE|EL|EN|ES|ET|FI|FR|HU|IT|LT|LV|MT|NL|PL|PT|SK|SL|SV|UNKNOWN) #REQUIRED>
<!-- Add other new languages, since ECPC will gather debates belonging to sessions held after Romanian, Bulgarian, Gaelic and other new languages were incorporated -->
<!ATTLIST speech id ID #REQUIRED>
<!-- This attribute must be required in the definitive version, again remember, should ID attributes be unique only for the text or for the whole corpus instead? -->
<!--  <!ELEMENT p (s|omit)+> -->
<!-- P ID again remember, should ID attributes be unique only for the text or for the whole corpus instead? -->
<!-- <!ATTLIST p id ID #REQUIRED> -->
<!-- <!ELEMENT s (#PCDATA|omit|italics)*> -->
<!-- <!ELEMENT s (#PCDATA|omit|italics)*> -->
<!-- S ID again remember, should ID attributes be unique only for the text or for the whole corpus instead? -->
<!-- <!ATTLIST s id ID #REQUIRED>  -->
<!ELEMENT italics (#PCDATA)>
<!ELEMENT writer (name,birth_date,birth_place,status,gender,institution,constituency,affiliation?,post?) >
<!ELEMENT writing (#PCDATA|omit|italics|page_number)*>
<!-- <!ELEMENT writing (p|omit)+> -->
<!-- WRITING REF again remember, should ID attributes be unique only for the text or for the whole corpus instead? -->
<!-- This attribute must be required and in the definitive version -->
<!ATTLIST writing id ID #REQUIRED>
<!-- Add other new languages, since ECPC will gather debates belonging to sessions held after Romanian, Bulgarian, Gaelic and other new languages were incorporated -->
<!ATTLIST writing language (CS|DA|DE|EL|EN|ES|ET|FI|FR|HU|IT|LT|LV|MT|NL|PL|PT|SK|SL|SV|UNKNOWN) #REQUIRED>
<!-- Heading en un futuro se convertiría en secciones (temáticas) por lo tanto ya no sería PCDATA sino que incluiría elementos como intervention y omit y tendría atributos o elementos para los temas. Se podría utilizar el EUROVOC o un enfoque basado en tesauros o árboles, convendría examinar la metodología Webmatrix (¿enfocada a la palabra?) -->
<!ELEMENT heading (#PCDATA|page_number)*>
<!ATTLIST heading number CDATA #IMPLIED>
<!-- Omits should not contain any sentece <s>, but a sentece can contain an omit, right? Keep it in mind when revising -->
<!ELEMENT omit (#PCDATA|italics|page_number)*>
<!-- OMIT DESC these attributes have never been used, but they might be a source of inspiration of a more descriptive family of elements -->
<!ATTLIST omit desc (opening|action|reaction|procedure|note|closing) #IMPLIED>
<!ELEMENT back (update,disclaimer)*>
<!ELEMENT update (#PCDATA)>
<!ELEMENT disclaimer (#PCDATA)>
